/* common style start*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #E95A08;
    --secondari-color: #8987A1;
    --noto-font: "Noto Serif", serif;
    --inter-font: ""Inter", sans-serif;"
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.heading-style{
    font-family: var(--noto-font);
    font-weight: 700;
    color: #000000;
}
.paragraph-style{
    color: var(--secondari-color);
    font-family: var(--inter-font);
    font-size: 1.4rem;
    
}
/* common style end*/

/* navbar start */
.nav-section{
    margin-top: 30px;
    margin-bottom: 120px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 48px;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: #252432;
}
.nav-links ul li:nth-child(2) a{
    color: var(--secondari-color);
}
.nav-links ul li:nth-child(3) a{
    color: var(--secondari-color);
}
.nav-links ul li:nth-child(4) a i{
    display: inline-block;
    margin-right: 10px;
}

/* navbar end */

/* always fresh section start */
.always-fresh-section{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 120px;
}
.always-fresh-left{
    max-width: 570px;
}
.always-fresh-heading{
    font-size: 4rem;
}
.always-fresh-heading span{
    color: var(--primary-color);
}
.always-fresh-right img{
    width: 100%;
}
/* always fresh section end */
/* resposive mobile device */
@media screen and (max-width: 576px) {
    .container{
        padding: 16px;
    }
    .heading-style{
    font-family: var(--noto-font);
    font-size: 1.5rem;
}
    .hide{
        display: none;
    }
    .nav-section{
        margin-bottom: 28px;
    }
    .always-fresh-section{
        flex-direction: column-reverse;
        margin-bottom: 58px;
    }
    .always-fresh-heading{
        margin-top: 28px;
        margin-bottom: 13px;
    }
}